.card {
  border-bottom: 1px solid var(--special-active-grey);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &--more {
    display: flex;
    flex-direction: column;

    @media (min-width: 748px) {
      border: 2px solid var(--basic-grey);
    }
  }

  @media (min-width: 748px) {
    display: flex;
    flex-direction: column;
  }
}

.card:not(:last-child) {
  @media (min-width: 748px) {
    border: none;
    background: linear-gradient(to top, var(--basic-grey) 100%, transparent 100%);
  }
}

.card__image {
  grid-column: 1/2;
  grid-row: 1/3;
  place-self: center;

  @media (min-width: 748px) {
    align-self: center;
  }
}

.card__thumb {
  width: 84px;
  height: 100px;

  @media (min-width: 748px) {
    width: 168px;
    height: 206px;
    margin-top: -65px;
  }

  @media (min-width: 1280px) {
    width: 172px;
    height: 196px;
  }

  &--half {
    width: 68px;
    height: 86px;

    @media (min-width: 748px) {
      width: 161px;
      height: 172px;
      margin-top: -37px;
    }
  }
}

.card__title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: var(--special-warm-dark);
  text-transform: uppercase;

  @media (min-width: 748px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: 1280px) {
    width: 145px;
    line-height: 21px;
    margin: 21px auto;
  }

  &--more {
    color: var(--special-dark);
    text-align: center;

    @media (min-width: 748px) {
      padding-bottom: 23px;
    }

    @media (min-width: 1280px) {
      font-size: 20px;
      line-height: 22px;
    }
  }
}

.card__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 10px;
  color: var(--special);

  @media (min-width: 748px) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 60px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 45px;
  }
}

.card__sublist {
  grid-column: 2/3;
  grid-row: 2/3;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 748px) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: 1280px) {
    padding-left: 35px;
    padding-right: 30px;
    padding-bottom: 17px;
  }
}

.card__button {
  grid-column: 1/3;
  grid-row: 3/4;
  text-align: center;
  background-color: var(--basic-green);
  padding-top: 10px;
  padding-bottom: 10px;

  &--show {
    background-color: var(--basic-grey);

    &:hover,
    &:focus {
      color: var(--special);
      background-color: var(--special-active-grey);
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: 748px) {
    margin-left: 36px;
    margin-right: 36px;
  }

  @media (min-width: 1280px) {
    padding-left: 35px;
    padding-right: 30px;
  }
}

.card__product {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  &--more {
    align-self: center;
    height: 35px;

    @media (min-width: 748px) {
      padding-top: 52px;
      padding-bottom: 33px;
    }

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("../../icons/sprite.svg#plus");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      @media (min-width: 748px) {
        width: 60px;
        height: 60px;
      }
    }

    @media (min-width: 748px) {
      height: 60px;
    }
  }
}
