.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    width: 570px;
    height: auto;
    background-color: var(--basic-white);
  }

  &--catalog {
    background-color: var(--basic-grey);
  }
}

.contacts__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark);

  @media (min-width: 768px) {
    width: 22%;
    font-size: 20px;
    line-height: 21px;
    padding: 20px 41px;
  }

  &--catalog {
    line-height: 18px;
  }
}

.contacts__location {
  line-height: 20px;
  color: var(--special);

  @media (min-width: 768px) {
    width: 22%;
    font-size: 16px;
    text-align: right;
    padding: 20px 41px;
  }
}
