.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 748px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--catalog {
    background-color: var(--basic-grey);
  }

  @media (min-width: 1280px) {
    width: 570px;
    height: auto;
    background-color: var(--basic-white);
  }
}

.contacts__text {
  width: 50%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark);
  padding-top: 29px;
  padding-bottom: 26px;
  margin: 0;

  @media (min-width: 748px) {
    width: 22%;
    font-size: 20px;
    line-height: 22px;
    padding: 20px 41px;
  }
}

.contacts__location {
  line-height: 20px;
  width: 54%;
  color: var(--special);
  padding-top: 29px;
  padding-bottom: 26px;
  margin: 0;

  @media (min-width: 748px) {
    width: 22%;
    font-size: 16px;
    text-align: right;
    padding: 20px 41px;
  }
}
