.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding: 10px 0 12px;
  }

  @media (min-width: 1280px) {
    padding: 34px 0 32px;
  }
}

.copyright__link {
  display: block;

  &--text {
    font-size: 16px;
    line-height: 18px;
    color: var(--special);
    text-decoration: none;

    &:active {
      opacity: 0.3;
    }

    @media (min-width: 768px) {
      margin-right: 22px;
    }
  }

  &--logo {
    width: 27px;
    height: 34px;
    background: var(--special-dark-grey);
    mask-image: url("../../icons/sprite.svg#htmlacademy");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;

    &:hover,
    &:focus {
      background: var(--basic-green);
      transition: color 0.2s ease;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
