.data__item {
  border-top: 1px solid var(--special-grey);
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: 748px) {
    padding: 26px 38px;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
}

.data__item:last-child {
  border-bottom: 1px solid var(--special-grey);
}

.data__wrapper {
  @media (min-width: 748px) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1280px) {
    flex-grow: 1;
  }
}

.data__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-warm-dark);

  @media (min-width: 748px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.data__button {
  background-color: var(--basic-green);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  @media (min-width: 1280px) {
    width: 244px;
  }
}
