.data__item {
  border-top: 1px solid var(--special-grey);
  padding-bottom: 20px;
  margin-bottom: -3px;

  @media (min-width: 768px) {
    border-left: 1px solid var(--special-grey);
    border-right: 1px solid var(--special-grey);
    padding: 26px 38px 28px;
  }

  @media (min-width: 1280px) {
    width: 896px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-left: none;
    border-right: none;
  }
}

.data__item:last-child {
  border-bottom: 1px solid var(--special-grey);
}

.data__wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @media (min-width: 1280px) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.data__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-warm-dark);
  margin-bottom: 10px;
  margin-top: 10px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: 1280px) {
    align-self: center;
  }
}

.data__sublist {
  padding-bottom: 3px;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}

.data__button {
  background-color: var(--basic-green);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  @media (min-width: 1280px) {
    width: 244px;
  }
}
