.example {
  background-color: var(--basic-cool-grey);

  @media (min-width: 768px) {
    background-image: linear-gradient(var(--basic-white) 0%, var(--basic-white) 57.3%, var(--basic-cool-grey) 44%, var(--basic-cool-grey) 100%);
  }

  @media (min-width: 1280px) {
    background-image: linear-gradient(var(--basic-white) 164px, var(--basic-grey) 164px);
  }
}

.example__wrapper {
  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 50px;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  padding: 10px 0;
  margin: 17px 0;


  @media (min-width: 768px) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
    padding: 43px 0;
  }

  @media (min-width: 1280px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.example__description {
  padding: 6px 0;
  margin: 12px 0;
  color: var(--special);

  @media (min-width: 768px) {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 22px 0;
    margin: 0;
  }

  @media (min-width: 1280px) {
    width: 70%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.example__rezults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 3px;

  @media (min-width: 768px) {
    margin-bottom: 83px;
  }

  @media (min-width: 1280px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

.example__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 28px 0 24px;

  @media (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 69px;
  }
}

.example__difference {
  @media (min-width: 1280px) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
