.example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basis-cool-grey);
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.example__description {
  color: var(--special);
}

.example__rezults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
