.extra {
  @media (min-width: 1280px) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.extra__wrapper {
  margin-bottom: 33px;

  @media (min-width: 768px) {
    margin-bottom: 70px;
  }

  @media (min-width: 1280px) {
    flex-grow: 1;
    margin-right: 79px;
    margin-bottom: 80px;
  }
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra__title {
  position: relative;
  --air-gap: 10px;
  width: fit-content;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 22px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 75px;
  }

  @media (min-width: 1280px) {
    --air-gap: 25px;
    padding-left: 0;
    padding-right: 20px;
    margin-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100vw - 100% - var(--air-gap));
    height: 2px;
    top: 21px;
    right: calc(100% + var(--air-gap));
    background-color: var(--basic-green);
    box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--basic-green);

    @media (min-width: 768px) {
      margin-left: 22px;
      top: 25px;
    }
  }
}

.extra__inner {
  @media (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}
