.gift {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 748px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1280px) {
    align-self: center;
    width: 25%;
    padding-left: 0;
    padding-right: 0;
  }
}

.gift__aside {
  background-image: url("../../img/background-gift.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.gift__description {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  padding: 43px 10px;
  text-align: center;

  @media (min-width: 748px) {
    display: flex;
    align-items: center;
  }

  @media (min-width: 1280px) {
    flex-direction: column;
    margin: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    margin: 48px auto;
    background-image: url("../../img/icon-gift.svg");
  }
}
