.instruction__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 748px) {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid var(--special-lightest-grey);
  }

  @media (min-width: 1280px) {
    padding-left: 110px;
    padding-right: 110px;
    border-bottom: none;
  }
}

.instruction__icon-wrapper {
  display: grid;
  min-width: 60px;
  min-height: 60px;
  background-color: var(--basic-green);

  @media (min-width: 748px) {
    min-width: 80px;
    min-height: 80px;
  }
}

.instruction__icon {
  place-self: center;
}

.instruction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: 748px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.instruction__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: 748px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 37px;
    counter-reset: medium;
  }

  @media (min-width: 1280px) {
    justify-content: space-between;
  }
}

.instruction__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: 748px) {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
    counter-increment: medium;
  }

  @media (min-width: 1280px) {
    margin: 0;
  }
}

.instruction__description {
  padding: 5px 5px 5px 20px;
  color: var(--special);

  @media (min-width: 748px) {
    display: flex;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;

    &::after {
      display: block;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      content: counter(medium);
      color: var(--basic-grey);
    }
  }
}
