.instruction {
  @media (min-width: 768px) {
    border-bottom: 1px solid var(--special-lightest-grey);
  }

  @media (min-width: 1280px) {
    border-bottom: none;
  }
}

.instruction__wrapper {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin-bottom: 18px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.instruction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  padding: 10px 0;
  margin: -10px 0 28px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 15px;
    margin: -1px 0 40px;
  }
}

.instruction__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 26px 60px;
    align-items: baseline;
    counter-reset: medium;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 77px;
  }
}

.instruction__item {
  position: relative;
  display: flex;
  margin-bottom: 20px;

  &--leaf::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    min-width: 60px;
    min-height: 60px;
    background-color: var(--basic-green);
    background-image: url("../../icons/sprite.svg#leaf");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;

    @media (min-width: 768px) {
      top: 23px;
      min-width: 80px;
      min-height: 80px;
    }
  }

  &--water::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    min-width: 60px;
    min-height: 60px;
    background-color: var(--basic-green);
    background-image: url("../../icons/sprite.svg#water");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px 31px;

    @media (min-width: 768px) {
      top: 23px;
      min-width: 80px;
      min-height: 80px;
    }

    @media (min-width: 1280px) {
      top: 22px;
      left: 2px;
    }
  }

  &--eat::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    min-width: 60px;
    min-height: 60px;
    background-color: var(--basic-green);
    background-image: url("../../icons/sprite.svg#eat");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 30px;


    @media (min-width: 768px) {
      top: 23px;
      min-width: 80px;
      min-height: 80px;
    }

    @media (min-width: 1280px) {
      top: 22px;
      left: 1px;
    }
  }

  &--time::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    min-width: 60px;
    min-height: 60px;
    background-color: var(--basic-green);
    background-image: url("../../icons/sprite.svg#time");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 33px;

    @media (min-width: 768px) {
      top: 23px;
      min-width: 80px;
      min-height: 80px;
    }

    @media (min-width: 1280px) {
      top: 22px;
      left: 2px;
    }
  }

  @media (min-width: 768px) {
    position: relative;
    counter-increment: medium;

    &::after {
      position: absolute;
      top: -14px;
      left: 115px;
      display: block;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      font-weight: 400;
      content: counter(medium);
      color: var(--basic-grey);
    }
  }
}

.instruction__description {
  padding-left: 20px;
  margin-left: 60px;
  color: var(--special);
  padding-top: 3px;
  padding-bottom: 3px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    align-self: end;
    padding: 10px 0;
    margin: 125px 60px 54px 0;
    z-index: 10;
  }

  @media (min-width: 1280px) {
    margin: 125px 0 54px 0;
  }
}
