.invitation {
  position: relative;

  @media (min-width: 1280px) {
    position: static;
  }

  &::before {
    --bg-image: url("../../img/background-cat@1x.png");
    position: absolute;
    content: "";
    width: 100%;
    height: 302px;
    background:
      linear-gradient(
      var(--basic-green-gradient),
      var(--basic-green-gradient)),
      var(--bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--special-darkness-grey);
    z-index: -1;

    @media (min-resolution: 2dppx) {
      --bg-image: url("../../img/background-cat@2x.png");
    }

    @media (min-width: 768px) {
      content: initial;
    }

    @media (min-width: 1280px) {
      --bg-image: url("../../img/background-desktop@1x.png");
      content: "";
      width: 50%;
      height: 694px;
      top: 0;
      left: 50%;
      background-position: right, left;

      @media (min-resolution: 2dppx) {
        --bg-image: url("../../img/background-desktop@2x.png");
        background-position: right;
      }
    }
  }
}

.invitation__wrapper {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: min-content, 1fr;
    grid-template-rows: repeat(4, min-content);
    margin-bottom: 0;
  }

  @media (min-width: 1280px) {
    margin-top: 30px;
  }
}

.invitation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: var(--basic-black);
    text-align: left;
    margin-top: 40px;
    margin-bottom: 21px;
    margin-left: 87px;
  }

  @media (min-width: 1280px) {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 45px;
    margin-left: 80px;
  }
}

.invitation__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  margin-bottom: 29px;

  @media (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-black);
    text-align: left;
    margin-bottom: 19px;
    margin-left: 87px;
  }

  @media (min-width: 1280px) {
    margin-top: 9px;
    margin-left: 80px;
  }
}

.invitation__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  padding-top: 12px;
  padding-bottom: 10px;
  margin-top: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--basic-green);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--special-medium-green);
  }

  &:active {
    color: var(--special-white);
  }

  @media (min-width: 768px) {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.invitation__link-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    box-sizing: border-box;
    width: 244px;
    margin-top: 25px;
    margin-left: 90px;
    padding: 1px 0 1px;
  }

  @media (min-width: 1280px) {
    margin-top: 29px;
    margin-left: 80px;
  }
}

.invitation__image {
  display: block;
  width: 280px;
  height: 270px;

  @media (min-width: 768px) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: 1280px) {
    width: 552px;
    height: 499px;
  }
}

.invitation__image-wrapper {
  @media (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  @media (min-width: 1280px) {
    margin-top: -28px;
    margin-left: -266px;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }
}
