.invitation__wrapper {
  background-color: rgba(104, 183, 56, 1);
  background-image:
    linear-gradient(
    var(--basic-green-gradient),
    var(--basic-green-gradient)),
    url("../../img/background-cat.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.invitation__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.invitation__description {
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.invitation__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  padding: 10px 44px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--basic-green);
}

.invitation-image {
  display: block;
}
