.map__iframe {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: 768px) {
    height: 400px;
  }
}

.map__wrapper {
  display: block;

  @media (min-width: 768px) {
    height: 400px;
    background-image: url("../../img/location-medium.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 1280px) {
    background-image: url("../../img/locatiom-large.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
