.nav {
  @media (max-width: 767px) {
    position: relative;

    &--opened {
      --nav-icon: url("../../icons/sprite.svg#cross");
    }

    &--closed {
      --nav-icon: url("../../icons/sprite.svg#burger");
      --is-nav-visible: none;
    }

    &--nojs {
      --nav-position: static;
      --is-toggel-visible: none;
    }
  }
}

.nav__toggle {
  border: none;
  padding: 0;
  background-color: transparent;

  @media (max-width: 767px) {
    position: absolute;
    top: -45px;
    right: 0;
    display: var(--is-toggel-visible, flex);
    gap: 12px;
  }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background: var(--nav-icon) no-repeat center / cover;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: 767px) {
    display: var(--is-nav-visible);
    position: var(--nav-position, absolute);
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--basic-white);
    box-shadow:
      50vw 0 0 0 var(--basic-white),
      -50vw 0 0 0 var(--basic-white);
  }
}
