.option__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 80px;
    margin-top: 136px;
    margin-bottom: 6px;
  }
}

.option__item {
  background-color: var(--basic-grey);
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: 30px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 51px;
  }

  &--pro {
    margin-bottom: 27px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    @media (min-width: 1280px) {
      margin-bottom: 51px;
    }
  }
}
