.option__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.option__item {
  background-color: rgba(242, 242, 242, 1);
  margin-bottom: 20px;
}
