.page-footer {
  background-color: var(--basic-grey);
  z-index: 0;

  @media (max-width: 767.5px) {
    padding-top: 5px;
  }
}

.page-footer__wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 32px;
  }

  @media (min-width: 1280px) {
    padding: 24px 0 29px;
  }
}

.page-footer__logo {
  text-align: center;
  padding: 10px 0;
  margin: 24px 0 17px;

  @media (min-width: 768px) {
    padding: 10px 0;
    margin: 24px 0 17px;
  }
}
