.page-header__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;

  @media (min-width: 748px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1280px) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 10px;
}

.page-header__logo-thumb {
  display: block;
  width: 33px;
  height: 37px;
  margin-right: 56px;

  @media (min-width: 748px) {
    display: none;
  }
}

.page-header__logo-title-link {
  margin-right: auto;
}

.page-header__logo-title-thumb {
  display: block;
  width: 101px;
  height: 18px;
  margin-right: auto;

  @media (min-width: 748px) {
    display: none;
  }
}

.page-header__logo-title {
  @media (min-width: 1280px) {
    padding-left: 10px;
  }
}

.page-header__logo-thumbnail {
  display: none;

  &--catalog:hover,
  &--catalog:focus {
    @media (min-width: 748px) {
      opacity: 0.8;
    }
  }

  &--catalog:active {
    @media (min-width: 748px) {
      opacity: 0.6;
    }
  }

  @media (min-width: 748px) {
    display: block;
  }
}
