.page-header__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1440px) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-header-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-header__logo-title {
  padding-left: 5px;

  @media (min-width: 1440px) {
    padding-left: 10px;
  }
}

.page-header__nav-toggle {
  display: block;
  width: 24px;

  @media (min-width: 768px) {
    display: none;
  }
}
