.partnership {
  @media (min-width: 1280px) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    z-index: 0;
  }
}

.partnership__contacts {
  @media (min-width: 1280px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    align-self: center;
    pointer-events: none;
  }

  &--catalog {
    background-color: var(--basic-grey);
    box-shadow:
      50vw 0 0 0 var(--basic-grey),
      -50vw 0 0 0 var(--basic-grey);

    @media (min-width: 1280px) {
      box-shadow: none;
      width: 570px;
    }
  }
}

.partnership__map {
  @media (min-width: 1280px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
