.partnership {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.partnership__contacts {
  @media (min-width: 1440px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    align-self: center;
    margin-left: 110px;
  }
}

.partnership__map {
  @media (min-width: 1440px) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}
