.product__wrapper {
  @media (min-width: 768px) {
    width: 708px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 143px 60px;
    margin: 65px auto 55px;
  }

  @media (min-width: 1280px) {
    width: 1220px;
    grid-template-columns: repeat(4, 1fr);
    gap: 141px 80px;
    margin: 78px auto 63px;
  }
}

.product__item {
  padding-top: 20px;
  padding-bottom: 24px;

  @media (min-width: 768px) {
    padding-bottom: 39px;
  }

  @media (min-width: 1280px) {
    width: 245px;
  }
}
