.product__wrapper {
  @media (min-width: 748px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 60px 142px;
    margin-top: 88px;
  }
}

.product__item {
  padding-bottom: 30px;
  margin-bottom: 30px;

  @media (min-width: 748px) {
    width: 324px;
  }

  @media (min-width: 1280px) {
    width: 245px;
  }
}
