.program {
  .program__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  .program__image-slim {
    display: grid;
    width: 50px;
    height: 53px;
    border-radius: 50%;
    background-color: rgba(104, 186, 53, 1);

    &::after {
      content: "";
      place-self: center;
      width: 36px;
      height: 50px;
      background-image: url("../../img/cat-slim.svg");
    }
  }

  .program__description {
    color: var(--special);
    padding-left: 22px;
    padding-right: 33px;
    padding-bottom: 23px;
  }

  .program__link-wrapper {
    border-top: 1px solid var(--basic-medium-grey);
    padding-top: 15px;
  }

  .program__link {
    display: flex;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
    padding: 10px;

    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 10px;
      background-image: url("../../img/arrow.svg");
    }
  }
}
