.program__wrapper {
  &--icon-slim {
    position: relative;

    &::before {
      content: "";
      display: block;
      float: left;
      width: 50px;
      height: 50px;
      background-image:
        url("../../img/cat-slim.svg"),
        radial-gradient(at center, var(--basic-green), var(--basic-green));
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover, 100%;
      border-radius: 50%;
      margin-right: 19px;

      @media (min-width: 748px) {
        clear: both;
        float: right;
        width: 200px;
        height: 200px;
      }

      @media (min-width: 1280px) {
        clear: both;
        float: left;
        width: 100px;
        height: 100px;
      }
    }
  }

  &--icon-pro {
    position: relative;

    &::before {
      content: "";
      display: block;
      float: left;
      width: 50px;
      height: 50px;
      background-image:
        url("../../img/cat-pro.svg"),
        radial-gradient(at center, var(--basic-green), var(--basic-green));
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      border-radius: 50%;
      margin-right: 11px;

      @media (min-width: 748px) {
        clear: both;
        float: right;
        width: 200px;
        height: 200px;
      }

      @media (min-width: 1280px) {
        clear: both;
        float: left;
        width: 100px;
        height: 100px;
      }
    }
  }
}

.program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: 748px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1280px) {
    text-align: center;
    padding: 10px;
    margin-bottom: 73px;
  }
}

.program__description {
  color: var(--special);
  padding-bottom: 23px;
  border-bottom: 1px solid var(--basic-medium-grey);

  @media (min-width: 748px) {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 0;
    margin-left: 0;
    margin-right: 20px;
    color: var(--basic-black);
    border-bottom: none;
  }

  @media (min-width: 1280px) {
    margin-left: 52px;
  }
}

.program__link-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: 1280px) {
    margin-left: 52px;
  }
}

.program__link {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  padding-top: 15px;
  padding-bottom: 18px;
  margin-right: 17px;

  &:active {
    opacity: 0.3;
    transition: 0.2s ease;
  }

  @media (min-width: 748px) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 25px;
  }

  @media (min-width: 1280px) {
    margin-right: 28px;
  }
}

.program__link-image {
  transform: translateX(-25%);
  transition: transform 0.5s ease;

  &:hover,
  &:focus {
    transform: translateX(0) scaleX(1.3);
    transition: transform 0.5s ease;
  }
}
