.range {
  width: 84px;
  height: 14px;
  background-color: var(--basic-white);
  border: 1px solid var(--special-grey);
  border-radius: 7px;

  @media (min-width: 748px) {
    width: 428px;
    height: 6px;
  }
}

.range__scale {
  width: 50%;
  height: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-radius: 8px;
  background-color: var(--basic-green);

  @media (min-width: 748px) {
    display: none;
  }
}

.range__input {
  display: none;

  @media (min-width: 748px) {
    display: block;
    width: 100%;
    height: 6px;
    appearance: none;
    outline: 0;
    margin: 0;
    background-color: var(--special-light-grey);
    cursor: grab;
  }
}
