.range__scale {
  --scale-size: 84px;
  width: var(--scale-size);
  padding: 4px 6px;
  border-radius: 7px;
  border: 1px solid var(--special-grey);
  background-color: var(--basic-white);

  @media (max-width: 767.5px) {
    box-sizing: border-box;
  }

  @media (min-width: 768px) {
    --scale-size: 428px;
    height: 6px;
    padding: 0;
    background-color: var(--special-light-grey);
  }
}

.range__thumb {
  --thumb-size: 35px;
  width: var(--thumb-size);
  height: 6px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: calc((1 - var(--curtain-value)) * (var(--scale-size) - var(--thumb-size)));
  background-color: var(--basic-green);

  @media (min-width: 768px) {
    position: relative;
    --thumb-size: 34px;
    width: var(--thumb-size);
    height: var(--thumb-size);
    margin-left: 201px;
    margin-top: -13px;
    border: 1px solid var(--special-grey);
    border-radius: 50%;
    background-color: var(--basic-white);
    box-shadow: 0 1px 3px 0 var(--special-shadow);
    cursor: grab;
  }

  &:hover,
  &:focus {
    @media (min-width: 768px) {
      box-shadow: 0 2px 4px 0 var(--special-shadow-light);
    }
  }

  &:active {
    @media (min-width: 768px) {
      border: 1px solid var(--basic-green);
      box-shadow: 0 3px 5px 0 var(--special-shadow-dark);
      cursor: grabbing;
    }
  }

  &::after {
    @media (min-width: 768px) {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 12px;
      left: 12px;
      border-radius: 50%;
      background-color: var(--special-medium-green);
    }
  }
}
