.social__list {
  display: flex;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 14px;
  list-style: none;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--basic-medium-grey);
  border-bottom: 1px solid var(--basic-medium-grey);

  @media (min-width: 768px) {
    border: none;
  }
}

.social__item {
  padding: 5px;
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    background: var(--basic-green);
    transition: color 0.2s ease;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    width: 23px;
    height: 16px;
    background: var(--special-dark-grey);
    mask-image: url("../../icons/sprite.svg#vk");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    margin-right: 30px;

    @media (min-width: 768px) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;
    background: var(--special-dark-grey);
    mask-image: url("../../icons/sprite.svg#instagram");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    margin-right: 30px;

    @media (min-width: 768px) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    width: 10px;
    height: 18px;
    background: var(--special-dark-grey);
    mask-image: url("../../icons/sprite.svg#facebook");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    margin-right: 30px;

    @media (min-width: 768px) {
      width: 13px;
      height: 27px;
    }
  }
}
