.sublist {
  display: flex;
  flex-direction: column;

  &--extra {
    flex-direction: row;
    justify-content: space-between;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media (min-width: 1280px) {
      width: 50%;
    }
  }
}

.sublist__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding-top: 8px;
    padding-bottom: 7px;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: 1px solid var(--special-grey);
  }
}

.sublist__title {
  font-size: 12px;
  line-height: 16px;
  color: var(--special);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: 1280px) {
    align-self: center;
  }

  &--extra {
    font-size: 14px;
    line-height: 14px;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.sublist__description {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: var(--special);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
    margin-left: 49px;
  }

  &--extra {
    font-size: 14px;
    line-height: 14px;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: 1280px) {
      margin-right: 40px;
    }
  }
}
