.toggle__button {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background: transparent;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 29px;
    text-decoration-style: dotted;
    text-decoration-color: var(--special-shadow-medium);
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    text-underline-offset: 6px;
  }

  &:hover,
  &:focus {
    @media (min-width: 768px) {
      text-decoration-style: solid;
      text-decoration-color: var(--special-shadow-medium);
      text-decoration-thickness: 1px;
      text-decoration-line: underline;
      text-underline-offset: 6px;
      transition: 0.2s ease;
    }
  }

  &:active {
    text-decoration: none;
  }

  &--before {
    @media (min-width: 768px) {
      margin-right: 14px;
    }

    @media (min-width: 1280px) {
      margin-right: 20px;
    }
  }

  &--after {
    @media (min-width: 768px) {
      margin-left: 14px;
    }

    @media (min-width: 1280px) {
      margin-left: 20px;
    }
  }
}
