.toggle__button {
  box-sizing: border-box;
  padding: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  background: transparent;

  @media (min-width: 748px) {
    font-size: 20px;
    line-height: 29px;
    text-decoration-style: dotted;
    text-decoration-color: var(--special-shadow-medium);
    text-decoration-thickness: 1px;
  }

  &--before {
    @media (min-width: 748px) {
      margin-right: 14px;
    }

    @media (min-width: 1280px) {
      margin-right: 20px;
    }
  }

  &--after {
    @media (min-width: 748px) {
      margin-left: 14px;
    }

    @media (min-width: 1280px) {
      margin-left: 20px;
    }
  }
}

