:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-green: #68b738;
  --basic-green-gradient: rgba(104, 183, 56, 0.85);
  --basic-grey: #f2f2f2;
  --basic-light-grey: #e7e7e7;
  --basic-active-grey: #bababa;
  --basic-medium-grey: #d9d9d9;
  --basis-cool-grey: #eaeaea;
  --special-grey: #cdcdcd;
  --special-medium-grey: #d3d3d3;
  --special-light-grey: #dcdcdc;
  --special-dark-grey: #666666;
  --special-active-grey: #ebebeb;
  --special-lightest-grey: #e6e6e6;
  --special: #444444;
  --special-dark: #111111;
  --special-warm-dark: #222222;
  --special-medium-green: #5eaa2f;
  --special-shadow-light: rgba(0, 0, 0, 0.19);
  --special-shadow-dark: rgba(0, 0, 0, 0.2);
  --special-error: #ff8282;
}
